

.form-layout{
    background-color: #f5f5f5;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.form-layout-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 1.5rem;
}

.form-layout-fields{
    padding-top: 1.25vw;
    padding-bottom: 1.25vw;
}

@media (min-width: 768px){
    .form-layout{
        padding: 2rem 4vw;
    }

    .form-layout-header{
        width: 45%;
    }

    .form-layout-fields{
        width: 55%;
    }
}

@media (max-width: 768px){
    .form-layout{
        padding: 2rem 1rem;
    }

    .form-layout-header{
        width: 100%;
    }

    .form-layout-fields{
        width: 100%;
    }
}