.note-card {
    background-color: #F5f5f5;
    /* width: 15rem; */
    height: 15.5em;
    /* min-height: 15rem; */
    border-radius: 1rem;
    padding: 1rem;
    /**/
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: black;
}

.note-card:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.note-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.note-card-title {
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.25em;
    flex-grow: 1;
    /**/
    color: var(--redirect-button-color);
    text-decoration: none;
    transition: color 150ms ease-in-out;
}

.note-card-title:hover {
    color: blue;
    text-decoration: underline;
}

.note-card-title::first-letter {
    text-transform: uppercase;
}

.note-card-textarea {
    border: none;
    height: 100%;
    border-radius: 1em;
    padding: 1em;
    resize: none;
    overflow: hidden;
    font-size: 0.9em;
}

.note-card-content {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.note-card-content .note-card-content-text {
    position: absolute;
    font-family: "Work Sans", sans-serif;
    font-size: inherit;
    z-index: 1;
}

.note-card-starter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify for centering y axis, align-items for x axis, and text-align for text itself */
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    border-radius: 1em;
    background-color: #f2efef;
}

.note-card-content-hover {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.note-card-content:hover .note-card-content-hover {
    position: absolute;
    z-index: 2;
    opacity: 1;
    backdrop-filter: blur(0.5px);
}

.note-card-content:hover .note-card-content-text {
    display: none;
}