.task-card-layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    text-transform: capitalize;
    text-decoration: none;
}

.task-card-layout:hover> * > .tracker-card-link-header-layout{
    color: blue;
    text-decoration: underline;
}

.task-card-company{
    min-width: fit-content;
}

/* .task-card-layout > .editable-display-input > .textarea-input-field{
    font-size: 1rem;
    margin-top: -1rem;
    text-transform: initial;
    overflow: hidden;
} */

.task-card-title::first-letter{
    text-transform: uppercase;
}

.task-card-clock{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    text-transform: initial;
    font-size: 0.9rem;
}

.task-card-datetime{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-grow: 1;
}