.header-layout {
    display: flex;
    align-items: baseline;
}

@media (min-width: 576px) {
    .header-layout {
        flex-wrap: wrap;
    }

    .header-layout-title {
        margin-right: 1.25rem;
    }
}

@media (max-width: 576px) {
    .header-layout {
        flex-wrap: wrap;
        margin-top: 0.5rem;
    }

    .header-layout-title>* {
        margin-right: 1.25rem;
        margin-left: -0.15rem;
    }
}

/* .header-layout-description>* {
    font-weight: lighter;
} */