.notification-list {
    position: fixed;
    /* top: 0; */
    /*notifications gets overflowed when using top. fixed* with not using appendchild but insertchild*/
    /* right: 0; */
    padding: 1vw;
    /* bottom: 2%; */
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    z-index: 1;
}

@media (min-width: 576px){
    .notification-list{
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

@media (max-width: 576px){
    .notification-list{
        top: 2.5%;
        left: 0;
        width: 100%;
    }
}