.redirect-button {
    background-color: var(--redirect-button-color);
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    font-size: 0.85rem;
    border-radius: 2em;
    text-align: center;
    text-transform: capitalize;
}

.redirect-button:hover {
    filter: brightness(1.25);
}

/* .redirect-button::first-letter{
    text-transform: uppercase;
} */