.info-layout {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.info-layout-reminder{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.info-layout-text {
    font-size: 0.9rem;
    color: #34495E;
    text-align: center;
}

.info-layout-text::first-letter{
    text-transform: uppercase;
}

.info-layout-buttons{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}