.show-button {
    text-align: center;
    border-radius: 2em;
    color: white;
    padding: 1em;
    text-transform: capitalize;
}

.show-button-load {
    background-color: #5a5151;
}

.show-button-reset {
    background-color: #B30000;
}

.show-button-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5em 0;
}