@media (min-width: 768px) {
    #application-add{
        height: 300px;
        width: min(315px);
    }
}

@media (max-width: 768px) {
    #application-add{
        height: auto;
        width: 100%;
    }
}