.cards-section-layout {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.cards-section-layout-preview {
    background-color: #f5f5f5;
    border-radius: 0.75rem;
    padding: 1.25rem;
}

.cards-section-header-layout{
    /* border-radius: 1rem; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* border: 0.75px solid currentColor; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

.cards-section-header-left{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    flex-grow: 1;
}

.cards-section-header-filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}