.notification {
    border: 2.5px none gray;
    border-radius: 0.5rem;
    padding: 0.75rem 5vw;
    /* padding-right: 2rem; */
    animation: fadeOut 3s ease-in-out;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    width: fit-content;
    z-index: 1;
}

.notification-msg {
    font-size: 0.9rem;
    align-self: center;
    text-transform: capitalize;
}

.notification-msg::first-letter {
    text-transform: uppercase;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}