.job-card {
    background-color: #F5F5F5;
    /* width: 15rem; */
    width: 100%; /* for mobile so it stretches whole width*/
    /* min-height: 15rem; */
    border-radius: 1rem;
    padding: 1em;
    /**/
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: black;
    text-decoration: none;
}

.job-card:hover{
    outline: 1px black solid; /*border that doesnt decrease the width of the card*/
}

.job-card-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.job-card-details {
    display: flex;
    flex-direction: column;
    /* gap: 0.05rem; */
    margin: 0.5rem 0.25rem;
}

.job-card-details-text{
    text-transform: capitalize;
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.job-card-date {
    font-size: 0.85em;
    margin: 0.25rem;
}

.job-card-top-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}