/*tracker card to avoid same name with card in predefined css*/

.tracker-card {
    border-radius: 1rem;
    background-color: #fff;
    padding: 1rem;
    color: black;
}

.tracker-card:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}