


@media (min-width: 1200px){
    .note-list{
        gap: 1.25rem;
    }
}

@media (min-width: 576px) and (max-width: 1200px){
    .note-list{
        gap: 1rem;
    }
}

@media (min-width: 576px){
    .note-list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
    }
}

@media (max-width: 576px){
    .note-list{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}