.job-form{

}

.job-form-content-bg{
    background-color: #f5f5f5;
    border-radius: 1rem;
    padding: 1.5rem 2rem; 
}

.job-form-header{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
}

.job-form-header-title{
    text-transform: capitalize;
}

.job-form-header-text::first-letter{
    text-transform: uppercase;
}