.input-layouts {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between; /*making sure header and footer align in row*/
    gap: 0.5em;
}

.input-header {
    font-size: 0.9rem;
    text-indent: 0em;
}

.input-header::first-letter {
    text-transform: uppercase;
}

.input-footer {
    text-indent: 0em;
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.input-footer-text{
    font-size: 0.8rem;
}

.input-footer-text::first-letter {
    text-transform: uppercase;
}

.input-text-error,
.input-text-error .input-footer-text {
    color: #cc0033;
}

.input-layouts .input-box {
    background-color: #E5E4E2;
    border-radius: 0.5em;
    padding: 0.75em 1em;
    border: none;
    font-size: 0.9rem;
}

.input-box-error {
    /*put all error classes below the paired class, or just put !important so it overides it*/
    background-color: #fce4e4 !important;
    outline: 1px solid #cc0033 !important;
    color: #cc0033 !important;
}