.job-page-divider {
    display: flex;
}

@media (min-width: 768px) {
    .job-page-divider {
        flex-direction: row;
        width: 100%;
        gap: 1.25rem;
    }

    .job-page-divider-content {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .job-page-divider {
        flex-direction: column;
        gap: 1rem;
    }

    .job-page-divider-content {
        width: 100%;
    }
}

.job-page-divider-content {
    padding: 1.75rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.job-page-divider-content>h6 {
    margin-bottom: 0;
}

.job-page-divider-content>h1 {
    margin-bottom: 0;
}

.job-page-divider-content>h5 {
    margin-bottom: 0;
}

.job-page-infos {
    text-transform: capitalize;
}

.job-page-dates {
    justify-content: space-around;
}

.job-page-links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.job-page-description {
    background-color: white;
    padding: 1rem;
    /* max-height: 20rem; */
    border-radius: 1rem;
    /*key to making description not overflowing*/
    white-space: pre-wrap;
}

.job-page-description-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1.5rem 1.75rem;
}