.submit-button{
    /* background-color: #0d6efd; */
    background-color: #7fb5ff;
    color: black;
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-size: 0.9rem;
    text-transform: capitalize;
}