.section-header{
    border-top: 2.5px dotted #757575;
    padding-top: 1rem;
    color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-bottom: 0.25rem;
}

.section-header-left{
    flex-grow: 1;
}

.section-header-logo-title{
    padding: 0.25rem;
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    align-items: center;
    max-width: 55%;
    text-transform: capitalize;
    /* border-bottom: 2px double black; */
    margin-right: auto;
}

.section-header-text{
    max-width: 100%;
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.25rem;
}

.section-header-right{
    color: var(--redirect-button-color);
}

.section-header-right:hover{
    color: blue;
}