.section-header{
    border: 5px double #757575;
    padding: 1em 1em;
    color: black;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    border-radius: 0.5em;
}