.section-header{
    border-top: 5px solid #757575;
    padding: 1.25em 1em 0.5em;
    color: black;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    text-transform: capitalize;
    border-radius: 0.0em;
}