.job-form-split{
    display: grid;
    /* width: 100%; */
}

@media (min-width: 1200px){
    .job-form-split{
        grid-template-columns: 2fr 5fr 0.25fr;
        gap: 1.25rem;
    }
}

@media (max-width: 1200px) {
    .job-form-split{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

.job-form-split-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.job-form-paid{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}