/* share between css files inside its tree - this is the root file */
:root {
    --fs-button-xl: calc(1rem * 1.15);
    --fs-button-xs: calc(1rem);
}

.App {
    min-height: 100%;
    width: 100%;
}

@media (min-width: 680px) {
    .form-button-label{
        font-size: var(--fs-button-xl);
    }
    .add-form-button{
        height: 300px;
        width: min(315px);
    }
}

/* 680px 768px */
@media (max-width: 680px) {
    .form-button-label{
        font-size: var(--fs-button-xs);
    }
    .add-form-button{
        height: auto;
        width: 100%;
    }
}