.job-card-layout {
    /* for mobile so it stretches whole width*/
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-decoration: none;
}

.job-card-layout:hover .job-card-title {
    text-decoration: underline;
    color: #3484F0;
}

.job-card-details {
    display: flex;
    flex-direction: column;
    /* gap: 0.05rem; */
    margin: 0.5rem 0.25rem;
}

.job-card-details-text {
    text-transform: capitalize;
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.job-card-date {
    font-size: 0.85em;
    margin: 0.25rem;
}