.dropdown {
    position: relative;
    display: inline;
    width: fit-content;
}

.dropdown-options {
    position: absolute;
    animation: open-dropdown 150ms ease;
    transform-origin: top center;
    /* this is how much it blurs, the thickness of the blur*/
    backdrop-filter: blur(1.5px);
    min-width: 100%;
    width: max-content;
    z-index: 1;
    text-transform: capitalize;
}

.dropdown-option {
    cursor: pointer;
}

.dropdown-option:hover {
    filter: brightness(1.25);
}

@keyframes open-dropdown {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}