.empty-message{
    width: 100%;
    background-color: #fff;
    padding: 2em;
    margin: 0.5rem 0;
    border-radius: 1em;
    /**/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.empty-message-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.empty-message-text{
    text-align: center;
    text-transform: capitalize;
}