.status-dropdown {
    font-size: 0.75em;
    /**/
    /* display: flex; */
    position: relative;
    display: inline-flexbox;
    flex-direction: column;
    gap: 0.5rem;
    align-items: baseline;
}

.status-dropdown-face {
    padding: 0.75em 1.25em;
    border-radius: 2rem;
    text-transform: capitalize;
    /**/
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.status-dropdown-face:hover {
    opacity: 0.9;
}

.minimized-status-dropdown .status-dropdown-option-menu {
    display: none;
}

.status-dropdown-option-menu {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    /**/
    padding: 0.5rem 0;
    animation: open-dropdown 150ms ease;
    transform-origin: top center;
    /* this is how much it blurs, the thickness of the blur*/
    backdrop-filter: blur(1.5px);
}

@media (min-width: 17.5rem){
    .status-dropdown-option-menu{
        width: 16.5rem; /*follow app card width but -1 rem*/
    }
}

@media (max-width: 17.5rem){
    .status-dropdown-option-menu{
        width: inherit;
    }
}

.status-dropdown-option {
    background-color: #f2efef;
    padding: 0.5em 1em;
    border-radius: 2em;
    text-transform: capitalize;
}

.status-dropdown-option:hover {
    outline: 0.05em black solid;
}