.show-button {
    text-align: center;
    border-radius: 1rem;
    color: black;
    padding: 1rem 2rem;
    font-size: 0.9rem;
    text-transform: capitalize;
}

/* .show-button::first-letter{
    text-transform: uppercase;
} */

.show-button-load {
    color: white;
    background-color: #9966FF;
}

.show-button-reset {
    background-color: #FFCE56;
}

.show-button-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.show-button-container-empty{
    display: none;
}