@media (min-width: 680px) {
    #note-add-button{
        width: min(315px);
        height: 300px;
    }
}

@media (max-width: 680px) {
    #note-add-button{
        width: 100%;
        height: auto;
    }
}