.error-display{
    width: 100%;
    background-color: #f5f5f5;
    padding: 2em;
    border-radius: 1em;
    /**/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.error-display-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.error-display-text{
    text-align: center;
    text-transform: capitalize;
}