.hyper-link{
    background-color: #f2efef;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem 1.25rem;
    border-radius: 2rem;
    /**/
    text-transform: capitalize;
    width: fit-content;
    font-size: 0.9rem;
}

.hyper-link:hover .hyper-link-label{
    color: blue;
    text-decoration: underline;
}

.hyper-link-label{
    text-decoration: none;
    color: var(--redirect-button-color);
}
