.cards-section-layout {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.cards-section-layout-preview {
    border: 0.5px solid #090909;
    border-radius: 0.75rem;
    padding: 1.25rem;
}